*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
}

button,
input,
select {
  font: inherit;
}

button {
  border: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

svg {
  display: block;
}

[hidden] {
  display: none !important;
}
