*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
}

button,
input,
select {
  font: inherit;
}

button {
  border: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

dialog {
  border: 0;
  padding: 0;
}
