*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  text-size-adjust: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

img,
svg {
  display: block;
  max-width: 100%;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none !important;
}
